body {
    display: flex;
    font-family: Arial, sans-serif;
    background: #bdbaba;
}

.thehoso {
    display: flex;
    border-radius: 10px;
    box-shadow: 0px  5px 6px rgb(189, 186, 186);
    overflow: hidden;
    background-color: white;
}

.cottrai {
    background: linear-gradient(to bottom, #1565C0 , #0d3f7a);
    width: 280px;
    padding:30px;
}
.cotphai{
    padding: 0px 30px 50px;
}
h2{
    font-size: 19px;
    margin: 0;
    color: white;
}
h3{
    font-size: 17px;
    border-bottom:1px solid #bdbaba;
}
.kynang{
    display: flex;
    gap:10px;
    font-weight: bold;
}

.cottrai > div {
    text-align: center;
    
}
p,a,li{
    font-size: 13px;
    margin: 0;
}

h1 {
    width: 90px;
    height: 90px;
    margin: 0 auto 18px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1565C0 ;
}
.kynang > p{
    background-color:#e3f0ff;
    color:#0d3f7a ;
    padding: 3px 12px;
    border-radius: 10px;
}
h3,a{
    color:#1565C0 ;
}
li{
    text-align: left;
    color:white;
    list-style: none;
}
.cottrai >div> p{
    color: white;
}

