body{
    background-color:#FFFDE7;
    border :2px solid #9E9E9E;
     font-weight:bold;

}

h1{
    text-align:center;
    color:red;
    background-color:#FFD9E6;
    
   
}
.khotho{
    font-style:italic;
    text-align:center;
}

.kho1,.kho3{
    color: #0033CC ;
    
}

.kho2{
    color:#D40000 ;
}

hr{
    color:#0033CC ;
    width:55%;
    margin: 20px auto;
}

