body{
    background: linear-gradient(to bottom, #C9A227 , #A8861B );
    color: #ffffff;
}

h1{
     text-align: center;
    text-shadow: 2px 2px 4px #000000;
     
}

.paragrap{
    float:left;
   
}

.content{
    display: flex;
    align-items: flex-start;
}

.photo{
    float:right;
    border: 2px solid #ffffff;
}





